body { color: #666666;
	   background-image: url(images/background.jpg);
	   background-color: #FFFFFF;
	   font-family: Verdana, Arial, sans-serif; 
}
h1 { color: #FFFFFF; 
	 background-color: #000033;
	 line-height: 200%;
	 font-family: Georgia;
	 background-image: url(images/sunset.jpg);
	 background-position: right;
	 background-repeat: no-repeat;
	 padding-left: 20px;
	 height: 72px;	
	 margin-bottom: 0;
}
h2 { color: #3399CC;
	 font-family: Georgia;
}
h3 { color: #000033;
}

#nav { font-weight: bold;
	   float: left;
	   width: 160px;
	   padding: 20px  5px  5px  20px;
}

#nav a {text-decoration: none;}
#nav  a:link { color: #000033;}
#nav a:visited { color: #344873;}
#nav a:hover { color: #FFFFFF}

#nav ul { list-style-type: none;
		margin: 0;
		padding-left: 0; }



dt { color: #000033;
}
.nim { color: #000033;
		  font-size: 1.2em;
}
#footer { font-size: .70em;
		  font-style: italic;
		  text-align: center;
		  padding: 10px 10px 10px;
}
#wrapper { margin-left: auto;
		   margin-right: auto;
		   -webkit-box-shadow: 5px 5px 5px #828282;
		   -moz-box-shadow: 5px 5px 5px #828282;
		   box-shadow: 5px 5px 5px #828282;
		   min-width: 960px;
		   min-height: 960px;
		   background-color: #90C7E3;
}
#content { padding-left: 20px;
		  padding-right: 20px;
		  background-color: #FFFFFF;
		  padding-top: 1px;
		  margin-left: 160px;
		  min-height: 960px;
		  
		  
		 
}
#content img { float: left;
			  padding-right: 20px }

#content ul {list-style-position: inside; }
			  
.clear {clear: left;}

#mobile { display: none; }
#desktop { display: inline; }



 
 
